<!-- Replace the email with your own formspree email -->
<form action="https://formspree.io/{{ site.formspree_email }}" method="POST" >
    <div class="form-group">
      <label for="contact_form_name">你的名字:</label>
      <input type="text" class="form-control" name="name" id="contact_form_name" placeholder="你的名字">
     </div> 
     <div class="form-group">
       <label for="contact_form_email">你的邮件 :</label>
      <input type="email" class="form-control" name="_replyto" id="contact_form_email" placeholder="你的邮件">
     </div> 
     <div class="form-group">
       <label for="contact_form_message"> 你的消息:</label>
      <textarea name="_message" class="form-control" id="contact_form_message" placeholder="你发送的内容"></textarea>
     </div> 
      <input type="submit" value="发送">
 </form>
